<div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">{{nombre}}</h4>
      <p class="card-text">{{poderes}}</p>
      <a href="#" class="btn btn-succes">Alta exitosa</a>
    </div>
    <img class="card-img-bottom" src="{{imagen}}" alt="Card image" style="width:100%">
  </div>
